Dockerfile
.dockerignore
**/node_modules
**/dist
**/build
.git
.github
**/*.log
.env*
**/coverage
**/build
.vscode
.eslintrc*
.prettierrc*
**/jest.config.js
**/*.tsbuildinfo
npm-debug.log
README.md
**/.next
.pnpm-debug.log*
docker
docs